body {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    justify-content: center;
    align-items: stretch;
    background-color: #f5f5f5;
}

.container {
    background-color: #FFF1F1;
}

header {
    background-color: #6B3F69;
    color: white;
    text-align: center;
}

.left {
    background-color: #e4b6b6;
}

/* ===== NAVIGATION ===== */
.nav {
  margin: 0;
  padding: 0;
  width: 100px;
}

li a {
  display: block;
  color: #6B3F69;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
}

li a:hover {
  background-color: #8D5F8C;
  color: white;
}

.mid {
    background-color: #ffd4d4;
    padding: 20px 16px 20px 16px;
    text-decoration: none;
    text-align: center;
}

/* ===== TEXT ON INDEX ===== */
p {
    margin-top: 20px; 
    text-align: center; 
    color: #8D5F8C; 
    vertical-align: middle;
    padding-bottom: 20px;
}

.right {
    background-color: #e4b6b6;
}

table, th, td {
    border: 2px solid #6B3F69;
    border-collapse: collapse;
    padding: 10px;
    padding-bottom: 20px;
    text-align: center;
}

footer {
    background-color: #6B3F69;
    color: white;
    text-align: center;
}